set(autostart false)
set (preconditions Platform)
set (callsign "GstPlayerCi")

if(PLUGIN_GSTPLAYERCI_STARTUPORDER)
set (startuporder ${PLUGIN_GSTPLAYERCI_STARTUPORDER})
endif()
kv(clientidentifier wayland-GstPlayerCi)
map()
    key(root)
    map()
        kv(mode ${PLUGIN_GSTPLAYERCI_MODE})
    end()
end()
ans(configuration)


